<div class="cof-container">
    <div class="cof-notes">
        <span class="note-C" [ngClass]="{ active: true }">C</span>
        <span class="note-G">G</span>
        <span class="note-D" [ngClass]="{ active: true }">D</span>
        <span class="note-A">A</span>
        <span class="note-E">E</span>
        <span class="note-B">B</span>
        <span class="note-G-flat">F♯/G♭</span>
        <span class="note-D-flat">C♯/D♭</span>
        <span class="note-A-flat" [ngClass]="{ active: true }">G♯/A♭</span>
        <span class="note-E-flat">D♯/E♭</span>
        <span class="note-B-flat">A♯/B♭</span>
        <span class="note-F">F</span>
    </div>
    <div class="cof-circle">
        <div class="center">
            <img [src]="imgSource" alt="" />
        </div>
    </div>
</div>
