<room-header [roomTitle]="ROOM.title"></room-header>

<div class="main-wrapper">
    <mat-expansion-panel class="explanation">
        <mat-expansion-panel-header>
            <mat-panel-title> How to play? </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
            <li>
                Click the button below to roll a mode, a root node and a string to start
                on.
            </li>
            <li>Play the first 9 notes of that mode up and down again.</li>
            <li>Re-roll to get another mode.</li>
        </ul>
    </mat-expansion-panel>

    <mat-card class="roll-result">
        <app-value-display
            class="root"
            [label]="'Root'"
            [value]="rollResult?.rootNote"
        ></app-value-display>

        <app-value-display
            class="mode"
            [label]="'Mode'"
            [value]="rollResult?.scale"
        ></app-value-display>

        <app-value-display
            class="starting-on"
            [label]="'Starting on'"
            [value]="rollResult?.guitarString"
        ></app-value-display>
    </mat-card>

    <app-roll-button (click)="roll()"></app-roll-button>
</div>
