<mat-card>
    <span>Guitar string only</span>
    <shared-fretboard [fretboardChart]="fretboardChart1"></shared-fretboard>
</mat-card>

<mat-card>
    <span>Chord</span>
    <shared-fretboard [fretboardChart]="fretboardChart2"></shared-fretboard>
</mat-card>

<mat-card>
    <span>Scale</span>
    <shared-fretboard [fretboardChart]="fretboardChart3"></shared-fretboard>
</mat-card>

<mat-card>
    <mat-card-content>
        <app-circle-of-fifths></app-circle-of-fifths>
    </mat-card-content>
</mat-card>
