<room-header [roomTitle]="ROOM.title" (openHelpClick)="onOpenHelpClick()"></room-header>

<div class="main-wrapper">
    <mat-expansion-panel class="explanation">
        <mat-expansion-panel-header>
            <mat-panel-title> How to play? </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
            <li>Click the button below to roll a note and a string.</li>
            <li>Find and play the note on the displayed string.</li>
            <li>Re-roll to get another note.</li>
        </ul>
    </mat-expansion-panel>

    <mat-card class="roll-result">
        <app-value-display
            class="root-note"
            [label]="'Note'"
            [value]="rollResult?.rootNote"
        ></app-value-display>

        <app-value-display
            class="played-on"
            [label]="'Played on'"
            [value]="rollResult?.guitarString"
        ></app-value-display>
    </mat-card>

    <mat-card class="note-visualization">
        <mat-card-content>
            <app-circle-of-fifths
                [displayedNote]="rollResult?.rootNote"
            ></app-circle-of-fifths>
        </mat-card-content>
    </mat-card>

    <app-roll-button (click)="roll()"></app-roll-button>
</div>
