<room-header [roomTitle]="ROOM.title" (openHelpClick)="onOpenHelpClick()"></room-header>

<div class="main-wrapper">
    <mat-card class="roll-result">
        <app-value-display
            class="root-note"
            [label]="'Root note'"
            [value]="rollResult?.rootNote"
        ></app-value-display>

        <app-value-display
            class="chord-type"
            [label]="'Chord type'"
            [value]="rollResult?.chordType"
        ></app-value-display>
    </mat-card>

    <app-roll-button (click)="roll()"></app-roll-button>
</div>
