<room-header [roomTitle]="ROOM.title"></room-header>

<mat-card class="explanation">
    <h2>How to play</h2>
    <ul>
        <li>Click the button below to roll a note and a string.</li>
        <li>Find and play the note on the displayed string.</li>
        <li>Re-roll to get another note.</li>
    </ul>
</mat-card>

<mat-card class="roll-result">
    <h2>Result</h2>

    <div class="wrapper">
        <mat-form-field class="root">
            <mat-label>Note</mat-label>
            <input
                matInput
                type="text"
                [readonly]="true"
                [value]="rollResult?.rootNote"
            />
        </mat-form-field>

        <mat-form-field class="starting-on">
            <mat-label>Played on</mat-label>
            <input
                matInput
                type="text"
                [readonly]="true"
                [value]="rollResult?.guitarString"
            />
        </mat-form-field>
    </div>
</mat-card>

<div class="roll-button">
    <button mat-raised-button color="primary" (click)="roll()">
        <mat-icon>skip_next</mat-icon>
    </button>
</div>
