.main-title {
  color: #cccccc;
  text-align: center;
}

.content-box {
  background-color: #bbbbbb;
  border-radius: 7px;
  font-size: 1.25rem;
  padding: 15px;
  width: 500px;
  margin: 0 auto;
}

.button {
  background: #4caf50;
  box-shadow: 0 3px 3px #777777;
  border: none;
  border-radius: 7px;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin: 50px auto 0 auto;
  padding: 15px;
  width: 300px;
}
