<header class="header">
    <h1 class="main-title">nGuitarTrainer</h1>
</header>

<div class="main">
    <div class="content-box">
        <span class="label">Root</span>
        <span class="value">{{ tone.Csharp_Dflat }}</span>
    </div>
    <div class="content-box">
        <span class="label">Mode</span>
        <span class="value">{{ mode.Phrygian }}</span>
    </div>
    <div class="content-box">
        <span class="label">Starting on</span>
        <span class="value">1. string</span>
    </div>
</div>

<div class="fill-space"></div>

<footer class="actions">
    <button class="button">Give me another mode!</button>
</footer>