:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 1rem 0;

  .main-title {
    margin: 0;
    text-align: center;
    color: #eeeeee;
  }
}

.content-box {
  font-size: 1.25rem;
  margin: 0 auto;
  padding: 15px;
  color: #222222;
  border-radius: 7px;
  background-color: #bbbbbb;
}

.fill-space {
  flex-grow: 1;
}

.actions {
  padding: 1rem 0;

  .button {
    font-size: 1.25rem;
    font-weight: bold;
    display: block;
    width: 300px;
    margin: 0 auto;
    padding: 15px;
    color: #eeeeee;
    border: none;
    border-radius: 7px;
    background: #188a1c;
  }
}
