<app-header title="nGuitarTrainer"></app-header>

<div class="main">
    <app-content-box label="Root" [value]="tone.Csharp_Dflat"></app-content-box>
    <app-content-box label="Mode" [value]="mode.Phrygian"></app-content-box>
    <app-content-box label="Starting on" [value]="'1. string'"></app-content-box>
</div>

<app-fretboard [numberOfFrets]="15" [numberOfStrings]="6"></app-fretboard>

<div class="fill-space"></div>

<footer class="actions">
    <button class="button">Give me another mode!</button>
</footer>