// colors
$color-primary-light: var(--primary-light);
$color-primary: var(--primary);
$color-primary-dark: var(--primary-dark);

$color-white: #eeeeee;
$color-black: #222222;
$color-green: #188a1c;
$color-brown: saddlebrown;
$color-gray: #999999;
