// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

$guitarTrainingGames-typography: mat-typography-config(
    $font-family: 'FiraSans'
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($guitarTrainingGames-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$guitarTrainingGames-primary: mat-palette($mat-brown);
$guitarTrainingGames-accent: mat-palette($mat-teal, A200, A100, A400);

// The warn palette is optional (defaults to red).
$guitarTrainingGames-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$guitarTrainingGames-theme: mat-light-theme(
    (
        color: (
            primary: $guitarTrainingGames-primary,
            accent: $guitarTrainingGames-accent,
            warn: $guitarTrainingGames-warn,
        ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($guitarTrainingGames-theme);

// load overridden styles for angular material components and more
$theme-primary: map-get($guitarTrainingGames-theme, primary);
$theme-accent: map-get($guitarTrainingGames-theme, accent);

:root {
    --primary-lightest: #{mat-color($theme-primary, 100)};
    --primary-light: #{mat-color($theme-primary, 300)};
    --primary: #{mat-color($theme-primary, 500)};
    --primary-dark: #{mat-color($theme-primary, 700)};
    --primary-darkest: #{mat-color($theme-primary, 900)};

    --accent-lightest: #{mat-color($theme-accent, 100)};
    --accent-light: #{mat-color($theme-accent, 300)};
    --accent: #{mat-color($theme-accent, 500)};
    --accent-dark: #{mat-color($theme-accent, 700)};
    --accent-darkest: #{mat-color($theme-accent, 900)};
}
