@import "./constants";

/* Basic global styling for the app */

:root {
    font-size: 16px;
}

body {
    margin: 0;
    background: $color-accent-100;
    font-family: $font-family;
}

ul {
    padding-left: 20px;
    margin: 0;
}

mat-card {
    margin: 1rem;

    [mat-card-avatar].card-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.main-wrapper {
    @media (min-device-width: 400px) {
        width: 400px;
        margin: 0 auto;
    }
}

.spacer {
    flex: 1 1 auto;
}
