@import "../../../node_modules/@angular/material/theming";
@import "../../styling/constants";

$header-height: 56px;

.rooms {
    @include mat-elevation(3);
    display: flex;
    justify-content: center;
}

.room-carousel-button {
    width: 100%;
    border: 0;
    border-radius: 0;
    height: $header-height;
    background: $color-primary-600;

    &.selected {
        background: $color-primary-400;
    }
}

.room-name {
    @media (max-width: 992px) {
        display: none;
    }
}

.content {
    margin: 1rem;
}
