@import "../../../styling/constants";

.explanation {
    margin: 1rem;
}

.roll-result {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.root-note {
    width: 6rem;
}

.played-on {
    width: 10rem;
}
