<room-header [roomTitle]="ROOM.title"></room-header>

<mat-expansion-panel class="explanation">
    <mat-expansion-panel-header>
        <mat-panel-title> How to play? </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
        <li>Click the button below to roll a note and a string.</li>
        <li>Find and play the note on the displayed string.</li>
        <li>Re-roll to get another note.</li>
    </ul>
</mat-expansion-panel>

<mat-card class="roll-result">
    <div class="wrapper">
        <mat-form-field class="root">
            <mat-label>Note</mat-label>
            <input
                matInput
                type="text"
                [readonly]="true"
                [value]="rollResult?.rootNote"
            />
        </mat-form-field>

        <mat-form-field class="starting-on">
            <mat-label>Played on</mat-label>
            <input
                matInput
                type="text"
                [readonly]="true"
                [value]="rollResult?.guitarString"
            />
        </mat-form-field>
    </div>
</mat-card>

<app-roll-button (click)="roll()"></app-roll-button>
