@import "src/styling/constants";

.content-box {
  font-size: 1.25rem;
  margin: 1rem 1rem 0 1rem;
  padding: 1rem;
  color: $color-black;
  border-radius: 0.5rem;
  background-color: $color-white;

  .label {
    font-size: 1rem;
    display: block;
    color: $color-green;
  }

  .value {
    display: block;
  }
}