<room-header></room-header>

<div *ngIf="!rollResult" class="no-roll-result-yet">
    <p>1. Click the button below to roll a mode.</p>
    <p>2. Practice the displayed mode.</p>
    <p>3. Re-roll to get another mode.</p>
</div>

<div *ngIf="rollResult" class="roll-result">
    <shared-content-box label="Root" [value]="rollResult.rootNote"></shared-content-box>
    <shared-content-box label="Mode" [value]="rollResult.scale"></shared-content-box>
    <shared-content-box
        label="Starting on"
        [value]="rollResult.guitarString"
    ></shared-content-box>
</div>

<shared-fretboard></shared-fretboard>

<div class="fill-space"></div>

<footer class="actions">
    <button *ngIf="rollResult" class="button reset-button" (click)="reset()">
        Reset
    </button>
    <!--    <button class="button roll-button" (click)="roll()">Roll a mode!</button>-->
</footer>
