<header class="lobby-header">
    <lobby-header [title]="'GuitarTrainingGames'"></lobby-header>
</header>

<section class="rooms">
    <button
        class="room-carousel-button"
        mat-button
        *ngFor="let room of rooms"
        [ngClass]="{ selected: room.id === idOfCurrentRoom }"
        (click)="selectRoom(room.id)"
    >
        <mat-icon class="room-icon">{{ room.icon }}</mat-icon>
        <span class="room-name">{{ room.title }}</span>
    </button>
</section>

<section class="content">
    <mat-card [routerLink]="idOfCurrentRoom">
        <mat-card-header>
            <mat-card-title>{{ currentRoom.title }}</mat-card-title>
            <mat-card-subtitle>{{ currentRoom.subtitle }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>
                Detailed description goes here.
            </p>
        </mat-card-content>
    </mat-card>
</section>
