@import "src/styling/constants";

.rooms {
    background: $color-primary;
    display: flex;
    justify-content: center;

    button {
        margin: 0.5rem 1rem;
    }
}

.content {
    margin: 1rem;
}
