@import "src/styling/constants";

.rooms {
    display: flex;
    justify-content: center;
}

.room-carousel-button {
    width: 100%;
    border: 0;
    border-radius: 0;
    height: 2.5rem;
    background: $color-primary-600;

    &.selected {
        background: $color-primary-400;
    }
}

.room-name {
    @media (max-width: 992px) {
        display: none;
    }
}

.content {
    margin: 1rem;
}
