<div class="sidenav-title">
    <span>GTG</span>
</div>

<mat-nav-list class="navigation">
    <div mat-subheader>Games</div>

    <mat-list-item *ngFor="let room of GAME_ROOMS" [routerLink]="room.id">
        <mat-icon>{{ room.icon }}</mat-icon>
        <span>{{ room.title }}</span>
    </mat-list-item>

    <mat-divider></mat-divider>

    <div mat-subheader>App</div>

    <mat-list-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
    </mat-list-item>

    <mat-list-item>
        <mat-icon>person</mat-icon>
        <span>About the app</span>
    </mat-list-item>

    <mat-list-item [routerLink]="'release-history'">
        <mat-icon>history</mat-icon>
        <span>Release History</span>
    </mat-list-item>
</mat-nav-list>

<div class="spacer"></div>

<div class="version-info">{{ VERSION_INFO }}</div>
