<room-header [roomTitle]="ROOM.title"></room-header>

<mat-expansion-panel class="explanation">
    <mat-expansion-panel-header>
        <mat-panel-title> How to play? </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
        <li>
            Click the button below to roll a mode, a root node and a string to start on.
        </li>
        <li>Play the first 9 notes of that mode up and down again.</li>
        <li>Re-roll to get another mode.</li>
    </ul>
</mat-expansion-panel>

<mat-card class="roll-result">
    <div class="wrapper">
        <mat-form-field class="root">
            <mat-label>Root</mat-label>
            <input
                matInput
                type="text"
                [readonly]="true"
                [value]="rollResult?.rootNote"
            />
        </mat-form-field>

        <mat-form-field class="mode">
            <mat-label>Mode</mat-label>
            <input matInput type="text" [readonly]="true" [value]="rollResult?.scale" />
        </mat-form-field>

        <mat-form-field class="starting-on">
            <mat-label>Starting on</mat-label>
            <input
                matInput
                type="text"
                [readonly]="true"
                [value]="rollResult?.guitarString"
            />
        </mat-form-field>
    </div>

    <div class="wrapper">
        <app-value-display
            class="root"
            [label]="'Root'"
            [value]="rollResult?.rootNote"
        ></app-value-display>

        <app-value-display
            class="mode"
            [label]="'Mode'"
            [value]="rollResult?.scale"
        ></app-value-display>

        <app-value-display
            class="starting-on"
            [label]="'Starting on'"
            [value]="rollResult?.guitarString"
        ></app-value-display>
    </div>
</mat-card>

<app-roll-button (click)="roll()"></app-roll-button>
