@import "../../../styling/constants";

.explanation {
    margin: 1rem;
}

.roll-result {
    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    app-value-display,
    mat-form-field {
        width: 6rem;
    }
}
