@import "../../../styling/constants";

.explanation {
    margin: 1rem;
}

.roll-result {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.root,
.mode {
    width: 8rem;
    margin-bottom: 1rem;
}

.starting-on {
    width: 100%;
}
