@import "../../../styling/constants";

.explanation {
    margin: 1rem;
}

.roll-result {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.root-note,
.chord-type {
    width: 8rem;
}
