<room-header [roomTitle]="ROOM.title"></room-header>

<mat-expansion-panel class="explanation">
    <mat-expansion-panel-header>
        <mat-panel-title> How to play? </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
        <li>Click the button below to roll a random chord.</li>
        <li>Find at least one way to play that chord.</li>
        <li>Re-roll to get another chord.</li>
    </ul>
</mat-expansion-panel>

<mat-card class="roll-result">
    <div class="wrapper">
        <app-value-display
            class="root-note"
            [label]="'Root note'"
            [value]="rollResult?.rootNote"
        ></app-value-display>

        <app-value-display
            class="chord-type"
            [label]="'Chord type'"
            [value]="rollResult?.chordType"
        ></app-value-display>
    </div>
</mat-card>

<app-roll-button (click)="roll()"></app-roll-button>
